aiohttp==3.7.4.post0
aiosqlite==0.17.0
APScheduler==3.7.0
astroid==2.6.2
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
colorama==0.4.4
discord-ext-menus==1.0.0a30+g309c702
discord.py==1.7.2
idna==3.2
isort==5.9.1
lazy-object-proxy==1.6.0
mccabe==0.6.1
multidict==5.1.0
pylint==2.9.3
pytz==2021.1
six==1.16.0
toml==0.10.2
typing-extensions==3.10.0.0
tzlocal==2.1
wrapt==1.12.1
yarl==1.6.3